**/classes_gen/besturing
**/classes_gen/gegevens
**/classes_gen/regels
**/classes_gen/services
**/classes_gen/rapportages
**/classes_gen/regeltests
**/classes_gen/tests
**/classes_gen/wetstaal
**/classes_gen/wetstaalNaarHtml



**/source_gen
**/source_gen.caches
*.java
/.mps/workspace.xml

\.gitattributes

\.mps/vcs\.xml